In [ ]:
#libraries Imported
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
from datetime import datetime
import re
# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

Netflix Movies & TV shows:-

In [ ]:
netflix_ds = pd.read_csv('/content/netflix_titles.csv')
netflix_ds1=netflix_ds 
netflix_ds.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Let's look at the attributes of the dataset

In [ ]:
#analyze data columns
print(netflix_ds.columns.values)

['show_id' 'type' 'title' 'director' 'cast' 'country' 'date_added'
 'release_year' 'rating' 'duration' 'listed_in' 'description']

In [ ]:
#datatype of columns
netflix_ds1=netflix_ds
netflix_ds.info()
print('_'*40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
________________________________________

In [ ]:
d2=netflix_ds[(netflix_ds['type']=='Movie')]
d2.describe(include=['O'])

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,6131,6131,6131,5943,5656,5691,6131,6129,6128,6131,6131
unique,6131,1,6131,4354,5445,651,1533,17,205,278,6105
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",United States,"January 1, 2020",TV-MA,90 min,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,13,2058,97,2062,152,362,4

In [ ]:
#conversion of a type column into numerical data
title_mapping = {"TV Show": 1, "Movie": 0}
netflix_ds['type'] = netflix_ds['type'].map(title_mapping)
netflix_ds.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,1,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,1,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,1,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
#conversion of a Duration into numerical data
netflix_ds['duration'] = netflix_ds.duration.str.extract('([0-9]+)', expand=False)
netflix_ds['duration'] = pd.to_numeric(netflix_ds['duration'])
netflix_ds.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90.0,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2.0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,1,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1.0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,1,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1.0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,1,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2.0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
netflix_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   int64
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   float64
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 825.8+ KB

In [ ]:
#conversion of a Show Id into numerical data
netflix_ds['show_id'] = netflix_ds.show_id.str.extract('([0-9]+)', expand=False)
netflix_ds['show_id'] = pd.to_numeric(netflix_ds['show_id'])
netflix_ds.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90.0,Documentaries,"As her father nears the end of his life, filmm..."
1,2,1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2.0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,3,1,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1.0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,4,1,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1.0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,5,1,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2.0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
#conversion of a rating column into numerical data
netflix_ds['rating'] = netflix_ds['rating'].astype(str)
r = {'TV-MA':1, 'R': 2,  'PG-13':3, 'TV-14':4, 'TV-PG':5 ,'NR':6 ,'TV-G':7 ,'TV-Y':8 , 'TV-Y7':9, 'PG':10, 'G':11, 'NC-17': 12,  'TV-Y7-FV' :13, 'UR':14}
netflix_ds['rating'] = netflix_ds['rating'].map(r)
netflix_ds['rating'] = netflix_ds['rating'].fillna(1)
netflix_ds['rating'] = netflix_ds['rating'].astype(int)
netflix_ds.head()
netflix_ds

NameError: ignored

In [ ]:
#conversion of a date added into numerical data
netflix_ds['date_added'] = pd.to_datetime(netflix_ds['date_added'], errors= "coerce")
dateTimeObj = datetime.now()
netflix_ds['date_added'] = pd.DatetimeIndex(netflix_ds['date_added']).year
df=netflix_ds['date_added'].value_counts().idxmax()
print(netflix_ds.date_added.describe())
netflix_ds['date_added'] = netflix_ds['date_added'].fillna(2019)
netflix_ds['date_added'] = netflix_ds['date_added'].astype(int)
netflix_ds.head()

count    8797.000000
mean     2018.871888
std         1.574243
min      2008.000000
25%      2018.000000
50%      2019.000000
75%      2020.000000
max      2021.000000
Name: date_added, dtype: float64

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021,2020,3,90.0,Documentaries,"As her father nears the end of his life, filmm..."
1,2,1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,2021,1,2.0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,3,1,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,2021,1,1.0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,4,1,Jailbirds New Orleans,NaN,NaN,NaN,2021,2021,1,1.0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,5,1,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,2021,1,2.0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
#Extraction of genre added from Listed in column
netflix_ds['genre']=netflix_ds.listed_in.str.extract(r'(Horror|Action & Adventure|Sci-Fi & Fantasy|Romantic|Comedies|Dramas|Sports|Trillers|Classic|cult|Children & Family|Science & Nature|Music)', expand=False)
g={"Horror": 1,"Action & Adventure": 2,"Sci-Fi & Fantasy": 3, "Romantic": 4, "Comedies": 5, "Dramas": 6, "Sports": 7, "Trillers": 8, "Classic": 9, "cult": 10, "Children & Family": 11, "Science & Nature": 12}
#Extraction of genre added into numerical data
netflix_ds['genre'] = netflix_ds['genre'].map(g)
netflix_ds['genre'] = netflix_ds['genre'].fillna(0)
netflix_ds['genre'] = netflix_ds['genre'].astype(int)
pd.crosstab(netflix_ds['genre'], netflix_ds['type'])
netflix_ds[["genre", "type"]].groupby(['genre'], as_index=False).mean().sort_values(by='type', ascending=False)

    genre      type
10     12  1.000000
4       4  0.925000
0       0  0.449281
5       5  0.265777
8       9  0.259259
6       6  0.233779
3       3  0.166667
2       2  0.152024
1       1  0.109375
7       7  0.000000
9      11  0.000000

In [ ]:
netflix_ds.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre
0,1,0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021,2020,3,90.0,Documentaries,"As her father nears the end of his life, filmm...",0
1,2,1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,2021,1,2.0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6
2,3,1,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,2021,1,1.0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2
3,4,1,Jailbirds New Orleans,NaN,NaN,NaN,2021,2021,1,1.0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0
4,5,1,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,2021,1,2.0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4

In [ ]:
#Dropping Of Unwanted Columns
print("Before", netflix_ds.shape)
netflix_ds = netflix_ds.drop(['title','country','cast','director', 'listed_in', 'description'], axis=1)
"After", netflix_ds.shape

Before (8807, 13)

('After', (8807, 7))

In [ ]:
netflix_ds.head()

   show_id  type  date_added  release_year  rating  duration  genre
0        1     0        2021          2020       3      90.0      0
1        2     1        2021          2021       1       2.0      6
2        3     1        2021          2021       1       1.0      2
3        4     1        2021          2021       1       1.0      0
4        5     1        2021          2021       1       2.0      4

In [ ]:
netflix_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int64
 1   type          8807 non-null   int64
 2   date_added    8807 non-null   int64
 3   release_year  8807 non-null   int64
 4   rating        8807 non-null   int64
 5   duration      8804 non-null   float64
 6   genre         8807 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 481.8 KB

In [ ]:
#divide data into train and test
#model Data:
feature_cols = ['date_added','release_year', 'rating','duration','genre']
X = netflix_ds[feature_cols] # Features
y = netflix_ds.type # Target variable
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)# Logistic Regression
X_train.shape, y_train.shape, X_test.shape

((6605, 5), (6605,), (2202, 5))

In [ ]:
X_train.duration = X_train.duration.fillna(0)
X_test.duration= X_test.duration.fillna(0)

In [ ]:
#Logistic Regression Algorithm
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, y_train) * 100, 2)
print(acc_log)

99.85

In [ ]:
#svc algorithm:
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, y_train) * 100, 2)
print(acc_svc)

97.76

In [ ]:
#KNN algorithm:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, y_train) * 100, 2)
print(acc_knn)

99.91

In [ ]:
#Naive Bayes algorithm:
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)
print(acc_gaussian)

99.27

In [ ]:
#since KNN algo gives max accuracy 
import pickle 
pickle.dump(knn,open('knn.pkl','wb')) 
re= pickle.load(open('knn.pkl','rb'))

In [ ]:
re.predict([[1,0,2021,2020,3,1.0,]])